@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

:root {
    --doc-background: #aaa;
    --div-background: #eee;
    --border-color: #888;
    --button-color: #ccc;
    --button-hover-color: #aaa;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--doc-background);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lalezar', sans-serif;
}

h1 {
    font-size: 48px;
    line-height: 48px;
}

h2 {
    font-size: 24px;
    line-height: 24px;
}

#container {
    width: 700px;
    min-height: 400px;
    background-color: var(--div-background);
    padding: 32px;
    border: solid 1px var(--border-color);
    border-radius: 10px;
}

#to-do-list {
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#task {
    width: 320px;
    height: 32px;
    padding: 4px;
    border: solid 1px var(--border-color);
    border-radius: 5px;
    font-size: 14pt;
    font-weight: 200;
}

button {
    width: 90px;
    height: 42px;
    padding: 4px;
    border: solid 1px var(--border-color);
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: var(--button-color);
    font-size: 11pt;
}

button:hover {
    background-color: var(--button-hover-color);
}